<% users.forEach(function(item){ %>
    <li class="_contactList" data-uid="<%= item._id %>">
        <div class="contactPanel">
            <div class="user-avatar">
                <img src="../../libraries/images/users/<%= item.avatar %> " alt="">
            </div>
            <div class="user-name">
                <p>
                    <%= item.username %>
                </p>
            </div>
            <br>
            <div class="user-address">
                <span><b><%= item.address %> </b></span>
            </div>
            <div class="user-add-new-contact" data-uid="<%= item._id %>">
                Thêm vào danh sách liên lạc
            </div>
            <div class="user-remove-request-contact-sent action-danger" data-uid="<%= item._id %>">
                Hủy yêu cầu
            </div>
        </div>
    </li>
    <%}) %>